* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(../../../assets/image2.png);
}

h1 {
    color: white;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 13px 24px;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:0.875rem;
}

nav,
nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    gap: 1.2rem;
    margin-left: 5px;
}

nav .links li a {
    color: #B88FDF;
    transition: transform, 0.3s;
}


.links li a:hover {
    color: white;
    transform: scale(1.1);
}

.botoes {
    position: absolute;
    right: 20px;
    top: 30%;
}

.botoes button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #6A15DF;
}

.botoes button:first-child {
    color: white;
    background: linear-gradient(88deg, #ef5c01, #ff9e0d);
}

main img {
    max-width: 60%;
}

/* coonteúdo */
section {
    display: flex;
    color: white;
}

.descricao {
    display: flex;
    align-items: center;
}

.descricao h2 {
    text-transform: uppercase;
}

.descricao .botao-download {
    display: flex;
    justify-content: right;
    background-color: white;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    gap: 0.3rem;
    color: #6A15DF;
    margin-top: 2.5rem;
}

.descricao .botao-download a {
    color: #6A15DF;
}

section img {
    width: 1000px;
}